[submodule "phd_springies_2011"]
	path = phd_springies_2011
	url = https://github.com/iboy/phd_springies_2011.git
[submodule "phd_softbodies_2012"]
	path = phd_softbodies_2012
	url = https://github.com/iboy/phd_softbodies_2012.git
[submodule "phd_shadowengine_004_2014"]
	path = phd_shadowengine_004_2014
	url = https://github.com/iboy/phd_shadowengine_004_2014.git
[submodule "phd_shadowengine_003_2013"]
	path = phd_shadowengine_003_2013
	url = https://github.com/iboy/phd_shadowengine_003_2013.git
